.auth-input {
  border-radius: 222px;
border: 1px solid rgba(0, 0, 0, 0.10);
background: #FFF;
height: 4rem;
padding: 0 1rem;
}

.auth-label {
  color: var(--black-400, #999);
font-family: "Instrument Sans";
font-size: 1.2rem;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: -0.14px;
margin: 0 0 .4rem 0;
}

.auth-heading{
  color: var(--black-800, #333);
text-align: center;
font-family: "Instrument Sans";
font-size: 2.4rem;
font-style: normal;
margin : 0 0 3rem 0;
font-weight: 600;
letter-spacing: -.5px;
}

.auth-tip{
  color: #000;
font-family: "Instrument Sans";
font-size: 1.2rem;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -0.024rem;
margin: 1rem 0 0 0;
    text-align: center;
}

.auth-tip a{
  color: var(--primary-base, #763DF1);
font-family: "Instrument Sans";
font-size: 1.2rem;
font-style: normal;
font-weight: 500;
text-decoration: none;
line-height: normal;
letter-spacing: -0.024rem;
}

.auth-main{
    width: 90%;
    margin: auto;
    padding: 5rem 0 0 0;
}

.auth-main header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth-main form{
    width: 100%;
    max-width: 30rem;
    margin: auto;
}

.auth-main form > div{
    display: flex;
    flex-direction: column;
    margin: 0 0 2rem 0;
}

.error-text{
  color: #FF4D4D;
  margin: 0 0 1rem 0;
  font-size: 1.2rem;
  font-weight: 500;
}

button[disabled] {
  background: var(--black-200, #E0E0E0);
  cursor: not-allowed;
}