.entries-main {
    padding: 2rem 2rem 10rem;
    max-width: 70rem;
    margin: auto;
}

.entries-main>header {
    margin: 0 0 2rem;
}

.entries-main header p {
    color: var(--black-700, #4D4D4D);
    font-family: "Instrument Sans";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.024rem;
}

.entries-main header h1 {
    color: var(--black, #000);
    font-family: "Instrument Sans";
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.052rem;
}

.entries-main .zeni-ai-button {
    position: fixed;
    bottom: 8rem;
    right: 2rem;
}

.entries-and-ai-container .entries-ai-analysis-bg {
    position: fixed;
    /* display: none; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 66;
    background: rgba(0, 0, 0, 0.367);
    backdrop-filter: blur(10px);
}

.entries-ai-analysis-bg .ai-analysis-entries {
    background-color: var(--white);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 90%;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    display: flex;
    flex-direction: column;
    padding: 0 0 1rem 0;
}

.entries-ai-analysis-bg .ai-analysis-entries header {
    border-radius: 2rem 2rem 0 0;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background: var(--primary-light-100, #F1ECFE);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    height: 6.2rem;

    p {
        color: var(--primary-light-900, #8450F2);
        font-family: "Instrument Sans";
        font-size: 1.2rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.012rem;
    }

    button {
        background-color: transparent;
        border: none;

    }
}

.entries-ai-analysis-bg .ai-analysis-content {
    flex: 1;
}

.ai-analysis-entries .ai-analysis-entries-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4.1rem;
    padding: 0 .8rem;
    gap: 1rem;
}

.ai-analysis-entries-form>input {
    border-radius: 1rem;
    border: 0.1px solid #9999993a;
    background: #F2F2F2;
    align-self: stretch;
    flex: 1;
    padding: 0 1rem;

    &::placeholder {
        color: var(--black-400, #999);
        font-family: "Instrument Sans";
        font-size: 1.2rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: -0.012rem;
    }
}

.ai-analysis-entries-form>button {
    width: 4.1rem;
    height: 4.1rem;
    flex-shrink: 0;
    border-radius: 50%;
    border: 0.1px solid var(--black-400, #999);
    background: var(--primary-base, #763DF1);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.ai-analysis-content .empty-text {
    color: var(--primary-dark-600, #2F1860);
    text-align: center;
    font-family: "Instrument Sans";
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.018rem;
    max-width: 60%;
    margin: 6rem auto;
}


@media screen and (min-width: 900px) {
    .entries-main {
        padding: 2rem;
        width: 100%;
        max-width: 130rem;
        margin: 0 auto;
    }

    .zeni-ai-button {
        display: none;
    }

    .entries-main .table-card{
        margin: 0 0 0 0;
    }

    .entries-main .entries-and-ai-container {
         gap: 2rem;
        display: grid;
        grid-template-columns: 1fr 40%;
    }

    .entries-and-ai-container .entries-ai-analysis-bg {
        z-index: 66;
        background: none;
        backdrop-filter: unset;
        border-top: none;
        height: auto;
        position: sticky;
        top: 1rem;
    }

    .entries-ai-analysis-bg .ai-analysis-entries header{
        border-top: none;
        border-inline: none;
    }

    .entries-ai-analysis-bg .ai-analysis-entries header>button {
        display: none;
    }

    .entries-ai-analysis-bg .ai-analysis-entries {
        background-color: var(--white);
        position: static;
        bottom: 0;
        width: 100%;
        height: 100%;
        border-radius: 2rem;
        border: 1px solid rgba(0, 0, 0, 0.10);
        background: #FFF;

    }

}