.dashboard-sidebar {
    position: fixed;
    background-color: var(--white);
    width: 100%;
    z-index: 4;
    bottom: 0;
    border: var(--border-style);
    display: flex;
    align-items: center;
    padding: 1rem 0;
}

.dashboard-sidebar :is(.links-container > p, nav p, .main-button, .profile-section) {
    display: none;
}

.dashboard-sidebar .links-container {
    flex: 1;
}

.dashboard-sidebar nav {
    align-items: center;
    justify-content: space-between;
    display: flex;
    width: 90%;
    margin: auto;
}

.dashboard-sidebar nav>.primary-button {
    width: 4rem;
    height: 4rem;
    margin: 0;
}

.dashboard-sidebar nav svg {
    width: 2rem;
}

.dashboard-sidebar .dashboard-link {
    border-radius: 33rem;
    -webkit-border-radius: 33rem;
    -moz-border-radius: 33rem;
    -ms-border-radius: 33rem;
    -o-border-radius: 33rem;
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboard-link.inactive,
.dashboard-link.inactive svg {
    stroke : var(--black-500, #808080);
    color : var(--black-500, #808080);
}

.dashboard-link.active svg {
    stroke: var(--primary-dark-600, #2F1860);
}

.dashboard-link.active {
    color: var(--primary-dark-600, #2F1860);
    background-color: var(--primary-light-100);
}

.dashboard-sidebar .profile-picture{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    object-fit: cover;
}

@media screen and (min-width: 900px) {
     .dashboard-sidebar {
        border-right: var(--border-style);
        width: 21rem;
        height: calc(100vh - 5rem);
        display: flex;
        flex-direction: column;
        position: sticky;
        top:0;
    }

    .dashboard-sidebar :is(.links-container > p, nav p, .main-button, .profile-section) {
    display: block;
}


    .dashboard-sidebar .main-button {
        border-bottom: var(--border-style);
        width: 100%;
    }

    .dashboard-sidebar .primary-button {
        width: 90%;
        margin: 2rem auto;
        display: flex;
        gap: 1rem;
    }

     .dashboard-sidebar .links-container {
        width: 90%;
        margin: 0 auto;
        margin-bottom: auto;
        padding: 1rem 0;
    }

    .dashboard-sidebar .dashboard-links-heading {
        color: var(--black-500, #808080);
        font-family: "Instrument Sans";
        font-size: 1rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 0.07rem;
        margin: 0 0 1rem 0;
    }

    .links-container nav {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
    }

    .dashboard-sidebar .dashboard-link {
        font-family: "Instrument Sans";
        font-size: 1.2rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-decoration: none;
        padding: .5rem 1.5rem;
        display: flex;
        align-items: center;
        gap: 1rem;
        height: 3.5rem;
        border-radius: 33rem;
        -webkit-border-radius: 33rem;
        -moz-border-radius: 33rem;
        -ms-border-radius: 33rem;
        -o-border-radius: 33rem;
        width:100%;
        justify-content: normal;
    }

    .dashboard-sidebar nav svg {
    width: 1.4rem;
}

    .links-container nav > img{
        display: none;
    }

    .dashboard-sidebar nav>.primary-button {
    display: none;
}

    .dashboard-sidebar .profile-section {
        width: 90%;
        margin: 0 auto;
        padding: 1rem .5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .profile-section > button{
        border: none;
        background-color: transparent;
        margin: 0 0 0 1rem;
    }

    .profile-section p{
        font-weight: 500;
        color: rgb(187, 22, 22);
    }
}