.currencies-page{
    width: 90%;
    max-width: 40rem;
    margin: auto;
}

.currencies-page .currency-container{
display: flex;
align-items: center;
align-content: center;
gap: 3.9rem;
flex-wrap: wrap;
margin: 0 0 2rem 0;
}

.currency-container .single-currency{
border-radius: 2rem;
border: 1px solid rgba(0, 0, 0, 0.10);
background: var(--white);
width: 17.1rem;
height: 13.2rem;
flex-shrink: 0;
cursor: pointer;
gap: 1rem;
padding: 2.5rem;
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: flex-end;
}

.single-currency h1{
color: var(--black-700, #4D4D4D);
font-family: "Instrument Sans", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 3.2rem;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: -0.032rem;
text-align: left;

}

.single-currency p{
color: var(--black-400, #999);
font-family: "Instrument Sans";
font-size: 1.2rem;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: -0.012rem;
text-align: left;
}