.user-message{
    margin: 0 0 2rem 0;
}

.user-message img{
    margin: 0 0 .5rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 1px solid #99999969;
}

.user-message img.pic{
    margin: 1rem 0 ;
    border-radius: .5rem;
    object-fit: cover;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}

.user-message p {
    font-size: 1.2rem;
}