*, *::before, *::after{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: Instrument Sans;
}

html{
  font-size: 62.5%;
}

@font-face {
  font-family: Instrument Sans;
  src: url("../public/font/instrument-sans.ttf");
}

:root{
  /* Color styles */
--white: hsla(0, 0%, 100%, 1);
--black-100: hsla(0, 0%, 90.2%, 1);
--black-200: hsla(0, 0%, 80%, 1);
--black-300: hsla(0, 0%, 70.2%, 1);
--black-400: hsla(0, 0%, 60%, 1);
--black-500: hsla(0, 0%, 50.2%, 1);
--black-600: hsla(0, 0%, 40%, 1);
--black-700: hsla(0, 0%, 30.2%, 1);
--black-800: hsla(0, 0%, 20%, 1);
--black-900: hsla(0, 0%, 10.2%, 1);
--black: hsla(0, 0%, 0%, 1);
--primary-light-100: hsla(257, 90%, 96.1%, 1);
--primary-light-200: hsla(260, 85.7%, 91.8%, 1);
--primary-light-300: hsla(259, 87.1%, 87.8%, 1);
--primary-light-400: hsla(259, 85.7%, 83.5%, 1);
--primary-light-500: hsla(259, 86.5%, 79.6%, 1);
--primary-light-600: hsla(259, 87.1%, 75.7%, 1);
--primary-light-700: hsla(259, 86.3%, 71.4%, 1);
--primary-light-800: hsla(259, 86.7%, 67.5%, 1);
--primary-light-900: hsla(259, 86.2%, 63.1%, 1);
--primary-dark-100: hsla(259, 68.1%, 53.3%, 1);
--primary-dark-200: hsla(259, 59.5%, 47.5%, 1);
--primary-dark-300: hsla(259, 59.4%, 41.6%, 1);
--primary-dark-400: hsla(259, 59.3%, 35.7%, 1);
--primary-dark-500: hsla(259, 60%, 29.4%, 1);
--primary-dark-600: hsla(259, 60%, 23.5%, 1);
--primary-dark-700: hsla(259, 60%, 17.6%, 1);
--primary-dark-800: hsla(260, 60%, 11.8%, 1);
--primary-dark-900: hsla(260, 60%, 5.9%, 1);
--primary-base: hsla(259, 86.5%, 59.2%, 1);

}

.primary-button{
  display: flex;
height: 44px;
padding: 10px;
color: var(--white);
font-weight: 500;
justify-content: center;
align-items: center;
width: 100%;
max-width: 30rem;
margin: auto;
font-size: 1.2rem;
cursor: pointer;
border-radius: 222px;
border: 1px solid var(--primary-light-400, #C8B1F9);
background: var(--primary-base, #763DF1);
}