:root{
    --border-style :  1px solid rgba(0, 0, 0, 0.10);
}

.dashboard-header{
    border: var(--border-style);
    height: 5rem;
    display: flex;
    align-items: center;
    padding-inline: 1.5rem;
}

.dashboard-sidebar{
    border-right: var(--border-style);
    width: 21rem;
    height: calc(100vh - 5rem);
    display: flex;
    flex-direction: column;
}


.dashboard-sidebar .main-button{
    border-bottom: var(--border-style);
}

.dashboard-sidebar .primary-button{
    width: 90%;
    margin: 2rem auto;
    display: flex;
    gap: 1rem;
}

.dashboard-main{
    min-height: calc(100vh - 5rem);
    display: flex;
}

.dashboard-sidebar .links-container{
    width: 90%;
    margin:0 auto;
    margin-bottom: auto;
    padding: 1rem 0;
}

.dashboard-sidebar .dashboard-links-heading{
color: var(--black-500, #808080);
font-family: "Instrument Sans";
font-size: 1rem;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 0.07rem;
margin: 0 0 1rem 0;
}

.links-container nav{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.dashboard-link{
    font-family: "Instrument Sans";
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
    padding: .5rem 1.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 3.5rem;
    border-radius: 33rem;
    -webkit-border-radius: 33rem;
    -moz-border-radius: 33rem;
    -ms-border-radius: 33rem;
    -o-border-radius: 33rem;
}

.dashboard-link.inactive{
color: var(--black-500, #808080);
}

.dashboard-link.active{
color: var(--primary-dark-600, #2F1860);
background-color: var(--primary-light-100);
}

.dashboard-sidebar .profile-section{
    border:solid;
    width: 90%;
    margin:0 auto;
    padding:1rem .5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}