.overview-main{
    padding: 2rem 2rem 10rem;
    max-width: 70rem;
    margin: auto;
}

.left-side .left-side-header {
    margin: 0 0 2rem 0;
}

.left-side .left-side-header p {
    color: var(--black-700, #4D4D4D);
    font-family: "Instrument Sans";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.024rem;
}

.left-side .left-side-header h1 {
    color: var(--black, #000);
    font-family: "Instrument Sans";
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.052rem;
}

.left-side .spending-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
    gap: 2rem;
    margin: 0 0 2rem 0;
}

.spending-card-container .single-spending-card {
    border-radius: 2rem;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background: #FFF;
    flex: 1;
    min-width: 14rem;
    height: 13rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.single-spending-card:first-of-type {
    border-radius: 2rem;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background: linear-gradient(122deg, #FFF 10.23%, #F1ECFE 100%);
}

.single-spending-card h2 {
    color: var(--black-700, #4D4D4D);
    font-family: "Instrument Sans";
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.032rem;
    margin: 0 0 .5rem 0;
}

.single-spending-card:first-of-type h2 {
    color: var(--black);
}

.single-spending-card p {
    color: var(--black-400, #999);
    font-family: "Instrument Sans";
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.012rem;
}

.caps-gray-text {
    color: var(--black-400, #999);
    font-family: "Instrument Sans";
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.012rem;
    text-transform: uppercase;
}

.budget-goals>h1 {
    color: var(--black-400, #999);
    font-family: "Instrument Sans";
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.014rem;
    margin: 0 0 1rem 0;
}

.budget-goals .budget-goals-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
    margin: 0 0 2rem 0;
}

.gray-header {
    border-radius: 2rem 2rem 0 0;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background: #FAFAFA;
}

.right-side .spending-by-category{
    border: var(--border-style);
    border-radius: 2rem;
    position: initial;
    top:2rem;
    height: calc(90vh - 5rem);
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.right-side .spending-by-category > header{
    padding: 2rem;
    border-inline: none;
    border-top: none;
}

.spending-by-category .chart-items{
    border-top: var(--border-style);
    padding: 1rem 2rem;
    height: 14rem;
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: 1rem;
}

.chart-items .single-chart-item{
    display: flex;
    align-items: center;
}

.single-chart-item .square{
    width: 1.3rem;
    height: 1.3rem;
    margin: 0 1rem 0 0;
    background-color: var(--primary-base);
}

.single-chart-item:nth-of-type(2) .square{
    background-color: #00C49F;
}

.single-chart-item:nth-of-type(3) .square{
    background-color: #FFBB28;
}

.single-chart-item:nth-of-type(4) .square{
    background-color: #FF8042;
}

.single-chart-item:nth-of-type(5) .square{
    background-color: #3498db;
}

.single-chart-item:nth-of-type(6) .square{
    background-color: #e74c3c;
}

.single-chart-item p{
    color: #000;
font-family: "Instrument Sans";
font-size: 1.2rem;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -0.012rem;
}

@media screen and (min-width: 900px) {
    .overview-main {
    display: grid;
    grid-template-columns: 1fr 40%;
    padding: 2rem;
    width: 100%;
    gap: 2rem;
    max-width: 130rem;
    margin: auto;
}

.left-side .left-side-header {
    margin: 0 0 2rem 0;
}

.left-side .left-side-header p {
    font-size: 1.2rem;
}

.left-side .left-side-header h1 {
    font-size: 2.6rem;
}

.left-side .spending-card-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    margin: 0 0 2rem 0;
    max-width: 90%;
}

.spending-card-container .single-spending-card {
    border-radius: 2rem;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background: #FFF;
    flex: 1;
    height: 13rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.single-spending-card:first-of-type {
    border-radius: 2rem;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background: linear-gradient(122deg, #FFF 10.23%, #F1ECFE 100%);
}

.single-spending-card h2 {
    color: var(--black-700, #4D4D4D);
    font-family: "Instrument Sans";
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.032rem;
    margin: 0 0 .5rem 0;
}

.single-spending-card:first-of-type h2 {
    color: var(--black);
}

.single-spending-card p {
    color: var(--black-400, #999);
    font-family: "Instrument Sans";
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.012rem;
}

.budget-goals .budget-goals-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
}

.right-side .spending-by-category{
    position: sticky;
    top: 7rem;
}}