:root {
    --border-style: 1px solid rgba(0, 0, 0, 0.10);
}

.dashboard-header {
    border: var(--border-style);
    height: 5rem;
    display: flex;
    align-items: center;
    padding-inline: 1.5rem;
    width: 100%;
    position: sticky;
    top: 0;
    background-color: var(--white);
    z-index: 53;
}

@media screen and (min-width:900px) {
   

    .dashboard-main {
        max-height: calc(100vh - 5rem);
        display: flex;
        overflow-y: auto;
    }

   
}