.ai-analysis-message {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    margin: 2rem 0;
}

.ai-analysis-message-text {
    color: var(--primary-dark-700, #1F0E3C);
    font-family: "Instrument Sans";
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: -0.011rem;
    flex: 1;
}

.ai-analysis-message .error-text {
    color: #EF4444;
    font-family: "Instrument Sans";
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: -0.011rem;
    flex: 1;
}
