.budget-goals-container .single-budget-goal {
    border: var(--border-style);
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    padding: 0 0 1rem 0;
    width: 100%;
}

.single-budget-goal header {
    border-radius: 1rem 1rem 0 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.10);
    background: var(--primary-light-100, #F1ECFE);
    padding: 1rem;
}

.single-budget-goal header>p {
    color: var(--primary-dark-600, #2F1860);
    font-family: "Instrument Sans";
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.012rem;
}

.single-budget-goal .budget-details {
    padding-inline: 1rem;
    margin: 1rem 0 0 0;
}

.budget-details .progress-bar {
    margin: 1rem 0;
    display: grid;
    grid-template-columns: 1fr 20%;
    gap: .4rem;
}

.budget-details .progress-bar>div {
    border-radius: 0.2rem;
    height: 1.2rem;
}

.progress-bar .done {
    background-color: var(--primary-base);
}

.progress-bar .remaining {
    background: var(--black-200, #CCC);
}

.budget-details .price-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.budget-details .price-details p {
    color: var(--black-700, #4D4D4D);
    font-family: "Instrument Sans";
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.01rem;
}

.budget-details .price-details small {
    color: var(--black-700, #4D4D4D);
    font-family: "Instrument Sans";
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.006rem;
}
