.user-info-screen .user-circle{
    border-radius: 22.2rem;
border: 1px solid rgba(0, 0, 0, 0.10);
background: #FFF;
width: 10.5rem;
height: 10.5rem;
flex-shrink: 0;
display: flex;
align-items: center;
justify-content: center;
margin: 0 0 2rem 0;
cursor: pointer;
}